h1 {
  color: darkblue;
  margin-left: 5%;
  margin-top: 5%;
}
body {background-color: white;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.selectEntity{
  width:120px;
  text-align: center;
}

.left {
  display: inline;
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
}


.right{
  display: inline;
  margin-left: 10%;
  margin-right: 10%;
  width: 15%;
}