h1 {
    color: darkblue;
    margin-left: 5%;
    margin-top: 5%;
}

body {
    background-color: white;
    padding: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.selectEntity {
    width: 120px;
    text-align: center;
}

.left {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
}


.right {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
    width: 15%;
}

.images {
    float: inherit;
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.imagesInte {
    float: left;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.imagesInteadm {
    width: 300px;
    height: 100px;
    object-fit: contain;
    vertical-align: text-bottom;
}

#MyForm {
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

#Myimg {
    margin: auto;
    width: 30%;
    border: 3px solid green;
}